@model Hort_Ed.ViewModels.EnrollViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Enrollments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <display asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId">
            </div>
            <div class="form-group">
                <label asp-for="SeminarId" class="control-label"></label>
                <display asp-for="SeminarId" class ="form-control" asp-items="ViewBag.SeminarId">
            </div>
            <div class="form-group">
                <label asp-for="KitSelection" class="control-label"></label>
                <display asp-for="KitSelection" class ="form-control" asp-items="ViewBag.KitSelection">
            </div>
 
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
