@{
    ViewData["Title"] = "Welcome to Hort_Ed Horticulture Education Seminars";
}
<br />
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The Hort_Ed seminar enrollment application allows registrants to review and enroll for seminars by world renowned horticulture speaker Kim Hartmann. As participants enroll, they will review and select seminar material kits that they may pick-up curbside or have shipped to them for use during online seminars. For in-person seminars, materials kits will be available at the seminar location.</p>
<br/>
<h3>Kim Hartmann</h3>
<p>Kim Hartmann is a landscape designer who has been with Countryside Flower Shop & Nursery since 2006. She earned her Bachelor of Science degree in Horticulture and Communication form the University of Illinois with continuing education in Landscaping, becoming an Illinois Certified Professional (ICN) and Master Gardener.</p>
<p>Growing up on a farm, Kim developed a passion of growing things and teaching other how to be successful at it. She conducts many of the educational sessions on behalf of Countryside, addressing both youth and adults.</p>
<p>Kim is active in several industry associations, particularly the Illinois Green Industry (IGIA) and the Illinois Landscape Contractors Association (ILCA). She was recently named, Illinois Certified Nursery Professional of the Year.</p>
<p>Kim lives in Gurnee with her husband and three children. She loves to travel all over the country, especially out west, exploring gardens and natural landscapes along the way.</p>
<p>
    <img src="\images\KimHartmann.jpg" alt="Kim Hartmann" width="300" height="300">
    <img src="\images\KimWithArrangement.jpg" alt="Kim with Flowers" width="275" height="300">
    <img src="\images\KimWithVan.jpg" alt="Kim with Van" width="380" height="300">
</p>
