@{
    ViewData["Title"] = "Contact Us";
}
<br />
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    473 Freedom Ct<br />
    Gurnee, IL 60031<br />
    <abbr title="Phone">P:</abbr>
    847-404-7669
</address>

<address>
    <strong>Website Support:</strong> <a href="mailto:keithkrystek@gmail.com">Support@horted.edu</a><br />
    <strong>Education & Marketing:</strong> <a href="mailto:hartmannkim@comcast.net">Marketing@horted.edu</a>
</address>

<br />
<br />
<br />
<br />
<p>Curbside Pick-Up Location for Seminar Kits:</p>
<table>
    <tr>
        <td>
            <p><img src="\images\countryside-map.jpg" alt="Countryside" width="600"></p>
        </td>
    </tr>
</table>