@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<h1>Come Dance in the Garden with Hort_Ed Seminars!</h1>
<p></p>
<p>We're jumping ahead to 2021 with our 2021 seminar schedule.</p>
<p>Come out to learn with us at one of our in-person locations or join us online for a session.</p>
<p>Kits are available for curb-side pick-up at Countryside Flower Shop, Garden Center & Landscaping.</p>
<p><img src="images\DanceInTheGarden.jpg" class="responsive" alt="Dance in the Garden!"></p>