@{
    ViewData["Title"] = "Hort_Ed Seminars' Privacy Policy";
}
<br />
<h2>@ViewData["Title"]</h2>

<p />
<p>Yikes! This is a very complex topic, and a lawyer would certainly be helpful.</p>
<p />
<p>That said, we collect information needed to register, supply, and bill you for our seminars. We may analyze the data collected to better understand who is taking our seminars.</p>
<p>Should we decide to publish a newsletter, we will contact you and allow you to opt-in to the newsletter.</p>
<p />
<p>That's about it!.</p>
<p><img src="\images\Hiking.jpg" alt="Hiker" width="600"></p>