@model Hort_Ed.Models.Transactions

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Transactions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransactionId" class="control-label"></label>
                <input asp-for="TransactionId" class="form-control" />
                <span asp-validation-for="TransactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeminarId" class="control-label"></label>
                <select asp-for="SeminarId" class ="form-control" asp-items="ViewBag.SeminarId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KitSelection" class="control-label"></label>
                <select asp-for="KitSelection" class ="form-control" asp-items="ViewBag.KitId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChangeDate" class="control-label"></label>
                <input asp-for="ChangeDate" class="form-control" />
                <span asp-validation-for="ChangeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeAction" class="control-label"></label>
                <input asp-for="ChangeAction" class="form-control" />
                <span asp-validation-for="ChangeAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
